
      .wrapper{

  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10px;
      }
      /* Create two equal columns that floats next to each other */
      .column1 {
        padding: 5px;
        overflow-y: scroll;
        margin: 5px;
      }
      .column2 {
        float: right;
        margin-right: 1px;
        padding: 5px;
        margin: 5px;
      }
      fieldset.personal, fieldset.product{
        background-color: gold;
        border: 0.25vw red dashed;
        width: fit-content;
}


legend {
        background-color: red;
        color: blue;
        padding: 3px 6px;
}

