
      .wrapper{

  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10px;
      }
      /* Create two equal columns that floats next to each other */
      .column1 {
        padding: 5px;
        overflow-y: scroll;
        margin: 5px;
      }
      .column2 {
        float: right;
        margin-right: 1px;
        padding: 5px;
        margin: 5px;
      }
      
